*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 232, 233);
}

.cont-title, h1{
  align-items: center;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 45px;
  margin-top: 8%;
}

table{
  width: 60%;
  align-items: center;
  text-align: center;
  margin-left: 20%;
  border: 1px solid #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td{
  width: 25%;
  text-align: center;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

.btn{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 5px;
  margin-left: 39%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2c2853;
  box-shadow: 0 5px #1d0f49;
}
.btn:hover {
  box-shadow: 0 3px #393545;
  top: 1px;
}
.btn:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

.btn-btn{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 5px;
  margin-top: 3%;
  margin-bottom: 2%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2c2853;
  box-shadow: 0 5px #1d0f49;
}
.btn:hover {
  box-shadow: 0 3px #393545;
  top: 1px;
}
.btn:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

p{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 14px;
  margin-bottom: 5%;
}